<hr>
	<h2 class="intro-text text-center"><strong>Guess the Song Below</strong>
	</h2>
<hr>
<center>
<% if (obj.length) { %>
	<% for(var i = 0; i < obj.length; i++) { %>
	    <% var song = obj[i]%>
	    	Genre: <%= song.genre %>
	    	<br><br>
	    	Lyrics: <%= song.lyrics %>
	    	<br><br>
	    	Tempo: <%= song.tempo %>
	    	<br><br>
	    	How old the song is: <%= song.age %>
	    	<br><br>
	    	Where the song was heard: <%= song.location %>
	    	<br><br>
	    	Extra information about the song <%= song.extras %>
	    	<br><br>
	<% }; %>
<% } %>

</center>
<form id="hiddenuser">
	<input type="hidden" id="user" value=<%=song.username%> >
</form>