<hr>
	<h2 class="intro-text text-center"><strong>Guess the Song Below</strong>
	</h2>
<hr>
<center>
<% if (obj.length) { %>
	<% for(var i = 0; i < obj.length; i++) { %>
	    <% var song = obj[i]%>
	    	Genre: <%= song.genre %>
	    	<br><br>
	    	Lyrics: <%= song.lyrics %>
	    	<br><br>
	    	Tempo: <%= song.tempo %>
	    	<br><br>
	    	Where it was heard: <%= song.location %>
	    	<br><br>
	    	Day it was heard: <%= song.date %>
	    	<br><br>
	<% }; %>
<% } %>


</center>